<!DOCTYPE html>
<html lang="en" ng-app="oecApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Monster Coding</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cosmo/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/heroic-features.css" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='css/mock.css'>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.1.0/lodash.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="./js/MainController.js"></script>
    <script src="./js/StoryFactory.js"></script>
    <script src='./js/monster.js'></script>
    <script src='./js/editor.js'></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="MainController as mc">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <nav>
          <ul class="pagination">
            <li ng-class="{disabled: !mc.canGoToPrevLesson()}">
              <a href="#" aria-label="Previous" ng-click="mc.goToPrevLesson()">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li ng-repeat="lesson in mc.stories track by $index" ng-class="mc.getLessonCSSClass($index)">
                <a href="#" ng-click="mc.goToLesson($index)">{{$index+1}}</a>
            </li>
            <li ng-class="{disabled: !mc.canGoToNextLesson()}">
              <a href="#" aria-label="Next" ng-click="mc.goToNextLesson()">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

        <!-- Jumbotron Header -->
        <div class="row hero-spacer">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div ng-bind-html="mc.stories[mc.currentLesson]"></div>
                    </div>
                </div>
                <div class="row" ng-if="mc.currentLesson != 0">
                    <div class="col-md-12">
                        <div id='editor'>
                            <div class='add' onclick='addClick(this)'></div>
                            <div class='recipe' val='pick_apples'>
                                <div class='print'>
                                    <input class='val' value='123'>
                                </div>
                            </div>
                            <div class='run' val='pick_apples'></div>
                            <div class='repeat' val='8'>
                                <div class='run' val='pick_apples'></div>
                            </div>
                        </div>
                        <button id='print-btn' class="btn btn-default btn-md" value='print'>Feed Monster</button>
                        <button id='ask-btn' class="btn btn-default btn-md" value='ask'>Ask (Conditional)</button>
                        <button id='repeat-btn' class="btn btn-default btn-md" value='repeat'>Repeat Until...</button>
                        <button id='for-btn' class="btn btn-default btn-md" value='for'>Repeat # Times</button>
                        <button id='assign-btn' class="btn btn-default btn-md" value='assign'>Write Post-it</button>
                        <button id='run-btn' class="btn btn-success btn-md" value='run' ng-click="parse">Run</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4" ng-if="mc.currentLesson != 0">
                This is the results section.
                Click Activate to activate next lesson (This will be triggered automatically later when user passes this lesson).
                <button type="button" class="btn btn-default btn-lg" ng-click="mc.enableNextLesson()">
                    Activate
                </button>
            </div>
            <div class="col-md-4" ng-if="mc.currentLesson == 0">
                <p>This is the results section. Throughout the lesson the results of running the code will be displayed here.</p>
                <button type="button" class="btn btn-success btn-lg" ng-click="mc.continueLesson()">
                    Continue
                </button>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; OEC 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
