#editor div:not(.add) {
    border: lightgrey solid 1px;
    border-radius: 4px;
    min-width:100px;
    min-height:50px;
    padding: 5px;
    margin: 2px;
}
#editor {

}
.add.active::before {
    content: '+';
}
.add:not(.active)::before {
}
.add {
    border: lightgrey dashed 1px;
    border-radius: 4px;
    margin: 2px;
    min-width:10px;
    min-height:5px;
}
.ask::before {
    content: "ask: ";
}

.repeat::before {
    content: "repeat: ";
}
.yes::before {
    content: "yes:";
}
.no::before {
    content: "no:";
}
.print::before {
    content: "feed ";
}
