div {
    border: black solid;
    min-width:100px;
    min-height:50px;
    padding: 5px;
}
.editor {

}
.ask {

}
.add.active::before {
    content: '+';
}
.add:not(.active)::before {
    content: '.';
}
.add {
    min-width:10px;
    min-height:10px;
}
.ask::before {
    content: "ask: " attr(cond) "?";
}
.yes::before {
    content: "yes:";
}
.no::before {
    content: "no:";
}
.print::before {
    content: "print " attr(val);
}
