.block {
    position: relative;
}

#editor {
    min-width: 300px;
    min-height: 600px;
    border: lightgrey solid 1px;
    border-radius: 4px;
    margin: 2px;
}

#editor div:not(.add) {
    border: lightgrey solid 1px;
    border-radius: 4px;
    min-width:100px;
    min-height:30px;
    padding: 5px;
    margin: 2px;
}
.add.active::before {
    content: '+';
}
.add:not(.active)::before {
}

.add:not(.active) {
    cursor: default;
}

.delete {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.add {
    border: lightgrey dashed 1px;
    border-radius: 4px;
    margin: 2px;
    min-width:10px;
    min-height:5px;
    cursor: pointer;
}

.ask::before {
    content: "Ask: is ";
}

.repeat::before {
    content: "Repeat Until: ";
}
.yes::before {
    content: "If Yes:";
}
.no::before {
    content: "If No:";
}
.print::before {
    content: "Feed Monster";
}
.for-inp {
    width: 20px;
}
